DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=bekendchi.uz,www.bekendchi.uz,89.116.27.54
DJANGO_DB_PATH=/app/data/db.sqlite3
DJANGO_CSRF_TRUSTED_ORIGINS=https://bekendchi.uz,https://www.bekendchi.uz
